body {
	font-family:PingFangSC-Regular,Verdana,Arial,"微软雅黑","宋体";
	padding-top:70px;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
.inline {display:inline}
#header {
	font-size:3em;
	text-align:center;
	background:#ffffff;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	margin:0 auto
}
#topbutton {
	background:url("../lib/pic/top.png");
	position:fixed;
	width:48px;
	height:48px;
	top:80px;
	right:10px;
}